 <mat-sidenav-container>
  <mat-slider></mat-slider>
  
<mat-grid-list cols="3" gutterSize="16px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img src="../assets/1.jpg"/>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile><mat-card><img src="../assets/2.jpg"/></mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card><img src="../assets/3.jpg"/></mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card><img src="../assets/1.jpg"/></mat-card></mat-grid-tile>
</mat-grid-list>
</mat-sidenav-container>