<mat-toolbar class="toolbar" color="primary">

  <div class="example-sidenav-content">
    <button class="menu-button" mat-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <img class="logo-image" src="../assets/nigie-mini2.png"/>
  <span class="logo-text">nigie</span>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav class="example-sidenav">

    <mat-card>
      <mat-card-title>
        Filters
      </mat-card-title>
      <mat-card-content>

        <mat-list>
          <mat-list-item>
            <span>Streaming Service</span>
          </mat-list-item>
          <mat-list-item>
            <mat-list-item class="chips">
              <mat-chip-list>
                <mat-chip>All</mat-chip>
                <mat-chip>Netflix</mat-chip>
                <mat-chip>Hulu</mat-chip>
              </mat-chip-list>
            </mat-list-item>
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Rating</span>
          </mat-list-item>
          <mat-list-item>
            <mat-slider></mat-slider>
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item>
            <span>Genres</span>
          </mat-list-item>

          <mat-list-item class="chips">
            <mat-chip-list>
              <mat-chip>Action</mat-chip>
              <mat-chip>Horror</mat-chip>
              <mat-chip>Comedy</mat-chip>
              <mat-chip>Sci-Fi</mat-chip>
              <mat-chip>Romance</mat-chip>
              <mat-chip>Thriller</mat-chip>
              <mat-chip>Drama</mat-chip>
              <mat-chip>Animation</mat-chip>
            </mat-chip-list>
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item><span>Year of Release</span></mat-list-item>

          <mat-list-item>
            <mat-slider></mat-slider>
          </mat-list-item>

          <mat-list-item class="chips">
            <mat-chip-list>
              <mat-chip>70s</mat-chip>
              <mat-chip>80s</mat-chip>
              <mat-chip>90s</mat-chip>
              <mat-chip>2000s</mat-chip>
              <mat-chip>2010s</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>


  <mat-grid-list cols="3" gutterSize="16px">
    <mat-grid-tile>
      <mat-card class="movie-card">
        <mat-card-content>
          <img src="../assets/1.jpg" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/2.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/3.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/1.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card">
        <mat-card-content>
          <img src="../assets/1.jpg" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/2.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/3.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card><img src="../assets/1.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card">
        <mat-card-content>
          <img src="../assets/1.jpg" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/2.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/3.jpg" /></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="movie-card"><img src="../assets/1.jpg" /></mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-sidenav-container>
